/*
      ___       ___       ___           ___     
     /\  \         /\__\     /\__\     /\  \         |\__\    
    /::\  \       /:/  /    /:/  /    /::\  \        |:|  |   
   /:/\:\  \     /:/  /    /:/  /    /:/\:\  \       |:|  |   
  /::\~\:\  \   /:/  /    /:/  /    /::\~\:\  \      |:|__|__ 
 /:/\:\ \:\__\ /:/__/    /:/__/    /:/\:\ \:\__\     /::::\__\
 \/__\:\/:/  / \:\  \    \:\  \    \:\~\:\ \/__/    /:/~~/~   
      \::/  /   \:\  \    \:\  \    \:\ \:\__\     /:/  /     
      /:/  /     \:\  \    \:\  \    \:\ \/__/     \/__/      
     /:/  /       \:\__\    \:\__\    \:\__\                  
     \/__/         \/__/     \/__/     \/__/                  
     
      ___           ___           ___           ___           ___     
     /\__\         /\  \         /\__\         /\  \         /\  \    
    /:/  /        /::\  \       /:/  /        /::\  \       /::\  \   
   /:/__/        /:/\:\  \     /:/  /        /:/\ \  \     /:/\:\  \  
  /::\  \ ___   /:/  \:\  \   /:/  /  ___   _\:\~\ \  \   /::\~\:\  \ 
 /:/\:\  /\__\ /:/__/ \:\__\ /:/__/  /\__\ /\ \:\ \ \__\ /:/\:\ \:\__\
 \/__\:\/:/  / \:\  \ /:/  / \:\  \ /:/  / \:\ \:\ \/__/ \:\~\:\ \/__/
      \::/  /   \:\  /:/  /   \:\  /:/  /   \:\ \:\__\    \:\ \:\__\  
      /:/  /     \:\/:/  /     \:\/:/  /     \:\/:/  /     \:\ \/__/  
     /:/  /       \::/  /       \::/  /       \::/  /       \:\__\    
     \/__/         \/__/         \/__/         \/__/         \/__/    


http://www.alleyhouseestudio.com






                _       _     _           
__   ____ _ _ __(_) __ _| |__ | | ___  ___ 
\ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 \ V / (_| | |  | | (_| | |_) | |  __/\__ \
  \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*/
/*

 _                            _       
(_)_ __ ___  _ __   ___  _ __| |_ ___ 
| | '_ ` _ \| '_ \ / _ \| '__| __/ __|
| | | | | | | |_) | (_) | |  | |_\__ \
|_|_| |_| |_| .__/ \___/|_|   \__|___/
            |_|                       
*/
/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700);
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../sass/_default.scss */
.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

/* line 34, ../sass/_default.scss */
.container > header nav a:hover:before {
  color: #fff;
}

/* line 38, ../sass/_default.scss */
.icon-drop:before {
  content: "\e000";
}

/* line 42, ../sass/_default.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* Set all parents to full height */
/* line 2, ../sass/_component.scss */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
  height: 100%;
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
/* line 11, ../sass/_component.scss */
.cbp-fbscroller > nav {
  position: fixed;
  z-index: 9999;
  right: 100px;
  top: 50%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 23, ../sass/_component.scss */
.cbp-fbscroller > nav a {
  display: block;
  position: relative;
  z-index: 9999;
  color: transparent;
  width: 26px;
  height: 26px;
  outline: none;
  margin: 25px 0;
  border-radius: 50%;
  border: 4px solid #fff;
}

/* line 36, ../sass/_component.scss */
.no-touch .cbp-fbscroller > nav a:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* line 40, ../sass/_component.scss */
.cbp-fbscroller > nav a.cbp-fbcurrent {
  background: #fff;
}

/* background-attachment does the trick */
/* line 45, ../sass/_component.scss */
.cbp-fbscroller section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 52, ../sass/_component.scss */
.no-touch .cbp-fbscroller section {
  background-attachment: fixed;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="50"], body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="50"], body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="50"].aos-animate, body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="100"], body[data-aos-duration="100"] [data-aos] {
  transition-duration: .1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: .1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="150"], body[data-aos-duration="150"] [data-aos] {
  transition-duration: .15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="150"], body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="150"].aos-animate, body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: .15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="200"], body[data-aos-duration="200"] [data-aos] {
  transition-duration: .2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: .2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="250"], body[data-aos-duration="250"] [data-aos] {
  transition-duration: .25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="250"], body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="250"].aos-animate, body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: .25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="300"], body[data-aos-duration="300"] [data-aos] {
  transition-duration: .3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: .3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="350"], body[data-aos-duration="350"] [data-aos] {
  transition-duration: .35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="350"], body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="350"].aos-animate, body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: .35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: .4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="400"], body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="400"].aos-animate, body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: .4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="450"], body[data-aos-duration="450"] [data-aos] {
  transition-duration: .45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="450"], body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="450"].aos-animate, body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: .45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="500"], body[data-aos-duration="500"] [data-aos] {
  transition-duration: .5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="500"], body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: .5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="550"], body[data-aos-duration="550"] [data-aos] {
  transition-duration: .55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="550"], body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="550"].aos-animate, body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: .55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="600"], body[data-aos-duration="600"] [data-aos] {
  transition-duration: .6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="600"], body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: .6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="650"], body[data-aos-duration="650"] [data-aos] {
  transition-duration: .65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="650"], body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="650"].aos-animate, body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: .65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="700"], body[data-aos-duration="700"] [data-aos] {
  transition-duration: .7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="700"], body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="700"].aos-animate, body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: .7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="750"], body[data-aos-duration="750"] [data-aos] {
  transition-duration: .75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="750"], body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="750"].aos-animate, body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: .75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
  transition-duration: .8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="800"], body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="800"].aos-animate, body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: .8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="850"], body[data-aos-duration="850"] [data-aos] {
  transition-duration: .85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="850"], body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="850"].aos-animate, body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: .85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="900"], body[data-aos-duration="900"] [data-aos] {
  transition-duration: .9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="900"], body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="900"].aos-animate, body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: .9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="950"], body[data-aos-duration="950"] [data-aos] {
  transition-duration: .95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="950"], body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="950"].aos-animate, body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: .95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1000"], body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1000"].aos-animate, body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1050"], body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1050"], body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1050"].aos-animate, body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1100"], body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1100"], body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1100"].aos-animate, body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1150"], body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1150"], body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1150"].aos-animate, body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1200"], body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1200"], body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1200"].aos-animate, body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1250"], body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1250"], body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1250"].aos-animate, body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1300"], body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1300"], body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1300"].aos-animate, body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1350"], body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1350"], body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1350"].aos-animate, body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1400"], body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1400"], body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1400"].aos-animate, body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1450"], body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1450"], body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1450"].aos-animate, body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1500"], body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1500"].aos-animate, body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1550"], body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1550"], body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1550"].aos-animate, body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1600"], body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1600"], body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1600"].aos-animate, body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1650"], body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1650"], body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1650"].aos-animate, body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1700"], body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1700"], body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1700"].aos-animate, body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1750"], body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1750"], body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1750"].aos-animate, body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1800"], body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1800"], body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1800"].aos-animate, body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1850"], body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1850"], body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1850"].aos-animate, body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1900"], body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1900"], body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1900"].aos-animate, body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="1950"], body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1950"], body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="1950"].aos-animate, body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2000"], body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2000"].aos-animate, body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2050"], body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2050"], body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2050"].aos-animate, body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2100"], body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2100"], body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2100"].aos-animate, body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2150"], body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2150"], body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2150"].aos-animate, body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2200"], body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2200"], body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2200"].aos-animate, body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2250"], body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2250"], body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2250"].aos-animate, body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2300"], body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2300"], body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2300"].aos-animate, body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2350"], body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2350"], body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2350"].aos-animate, body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2400"], body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2400"], body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2400"].aos-animate, body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2450"], body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2450"], body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2450"].aos-animate, body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2500"], body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2500"], body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2500"].aos-animate, body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2550"], body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2550"], body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2550"].aos-animate, body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2600"], body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2600"], body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2600"].aos-animate, body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2650"], body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2650"], body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2650"].aos-animate, body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2700"], body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2700"], body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2700"].aos-animate, body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2750"], body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2750"], body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2750"].aos-animate, body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2800"], body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2800"], body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2800"].aos-animate, body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2850"], body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2850"], body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2850"].aos-animate, body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2900"], body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2900"], body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2900"].aos-animate, body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="2950"], body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2950"], body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="2950"].aos-animate, body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-duration="3000"], body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="3000"], body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-delay="3000"].aos-animate, body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=linear], body[data-aos-easing=linear] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in], body[data-aos-easing=ease-in] [data-aos] {
  transition-timing-function: ease-in;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out], body[data-aos-easing=ease-out] [data-aos] {
  transition-timing-function: ease-out;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
  transition-timing-function: ease-in-out;
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-back], body[data-aos-easing=ease-in-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out-back], body[data-aos-easing=ease-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out-back], body[data-aos-easing=ease-in-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-sine], body[data-aos-easing=ease-in-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out-sine], body[data-aos-easing=ease-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out-sine], body[data-aos-easing=ease-in-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-quad], body[data-aos-easing=ease-in-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out-quad], body[data-aos-easing=ease-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out-quad], body[data-aos-easing=ease-in-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-cubic], body[data-aos-easing=ease-in-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out-cubic], body[data-aos-easing=ease-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out-cubic], body[data-aos-easing=ease-in-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-quart], body[data-aos-easing=ease-in-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-out-quart], body[data-aos-easing=ease-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* line 1, ../sass/_aos.scss */
[data-aos][data-aos][data-aos-easing=ease-in-out-quart], body[data-aos-easing=ease-in-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* line 1, ../sass/_aos.scss */
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity,transform;
}

/* line 1, ../sass/_aos.scss */
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-up] {
  transform: translate3d(0, 100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-down] {
  transform: translate3d(0, -100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-right] {
  transform: translate3d(-100px, 0, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-left] {
  transform: translate3d(100px, 0, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-up-right] {
  transform: translate3d(-100px, 100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-up-left] {
  transform: translate3d(100px, 100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-down-right] {
  transform: translate3d(-100px, -100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=fade-down-left] {
  transform: translate3d(100px, -100px, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos^=zoom][data-aos^=zoom] {
  opacity: 0;
  transition-property: opacity,transform;
}

/* line 1, ../sass/_aos.scss */
[data-aos^=zoom][data-aos^=zoom].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-in] {
  transform: scale(0.6);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-in-up] {
  transform: translate3d(0, 100px, 0) scale(0.6);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-in-down] {
  transform: translate3d(0, -100px, 0) scale(0.6);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-in-right] {
  transform: translate3d(-100px, 0, 0) scale(0.6);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-in-left] {
  transform: translate3d(100px, 0, 0) scale(0.6);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-out] {
  transform: scale(1.2);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-out-up] {
  transform: translate3d(0, 100px, 0) scale(1.2);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-out-down] {
  transform: translate3d(0, -100px, 0) scale(1.2);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-out-right] {
  transform: translate3d(-100px, 0, 0) scale(1.2);
}

/* line 1, ../sass/_aos.scss */
[data-aos=zoom-out-left] {
  transform: translate3d(100px, 0, 0) scale(1.2);
}

/* line 1, ../sass/_aos.scss */
[data-aos^=slide][data-aos^=slide] {
  transition-property: transform;
}

/* line 1, ../sass/_aos.scss */
[data-aos^=slide][data-aos^=slide].aos-animate {
  transform: translateZ(0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=slide-up] {
  transform: translate3d(0, 100%, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=slide-down] {
  transform: translate3d(0, -100%, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=slide-right] {
  transform: translate3d(-100%, 0, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=slide-left] {
  transform: translate3d(100%, 0, 0);
}

/* line 1, ../sass/_aos.scss */
[data-aos^=flip][data-aos^=flip] {
  backface-visibility: hidden;
  transition-property: transform;
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-left] {
  transform: perspective(2500px) rotateY(-100deg);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-left].aos-animate {
  transform: perspective(2500px) rotateY(0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-right] {
  transform: perspective(2500px) rotateY(100deg);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-right].aos-animate {
  transform: perspective(2500px) rotateY(0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-up] {
  transform: perspective(2500px) rotateX(-100deg);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-up].aos-animate {
  transform: perspective(2500px) rotateX(0);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-down] {
  transform: perspective(2500px) rotateX(100deg);
}

/* line 1, ../sass/_aos.scss */
[data-aos=flip-down].aos-animate {
  transform: perspective(2500px) rotateX(0);
}

/* line 86, ../sass/style.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 87, ../sass/style.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 90, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 91, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 93, ../sass/style.scss */
body {
  font-family: 'Merriweather',times,serif;
  color: #222;
  font-size: 12px;
  font-weight: 800;
}

/* line 100, ../sass/style.scss */
a {
  color: #fff;
  text-decoration: underline;
}

/* line 105, ../sass/style.scss */
a:hover {
  color: #e6e6e6;
}

/* line 110, ../sass/style.scss */
.hidden {
  display: none !important;
}

/* line 117, ../sass/style.scss */
.container > header {
  padding: 2.875em 1.875em 1.875em 0em;
  position: fixed;
  z-index: 1000;
  width: 60%;
  left: 20%;
}
/* line 124, ../sass/style.scss */
.container > header h1 {
  font-size: 2em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400;
}
/* line 132, ../sass/style.scss */
.container > header nav {
  float: right;
}
/* line 135, ../sass/style.scss */
.container > header nav a {
  display: block;
  float: left;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid #fff;
  text-indent: -8000px;
}
/* line 148, ../sass/style.scss */
.container > header nav a:after {
  content: attr(data-info);
  color: #fff;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
/* line 160, ../sass/style.scss */
.container > header nav a:hover:after {
  opacity: 1;
}
/* line 164, ../sass/style.scss */
.container > header nav a:hover {
  background: #47a3da;
}
/* line 171, ../sass/style.scss */
.container .slide-content {
  padding: .5em;
  max-width: 1000px;
  font-size: 2em;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  margin-left: 0;
}
/* line 183, ../sass/style.scss */
.container .slide-content img.elevation-logo {
  width: 100%;
}
/* line 193, ../sass/style.scss */
.container img.elevation {
  position: absolute;
  bottom: 0em;
  width: 50%;
  right: 2em;
  max-width: 800px;
}

/* line 208, ../sass/style.scss */
.cbp-fbscroller section {
  height: auto;
  min-height: 450px;
  padding-bottom: 2em;
}

/* line 216, ../sass/style.scss */
.gallery {
  width: 40%;
  max-width: 600px;
  position: absolute;
  right: 8em;
  top: 2em;
}
/* line 223, ../sass/style.scss */
.gallery ul {
  width: 100%;
  list-style: none;
  height: 80%;
}
/* line 228, ../sass/style.scss */
.gallery ul li {
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}
/* line 234, ../sass/style.scss */
.gallery ul li.current {
  display: block;
}
/* line 238, ../sass/style.scss */
.gallery ul li img {
  width: 100%;
}

/* line 247, ../sass/style.scss */
#fbsection1 {
  background-color: #323232;
}
/* line 250, ../sass/style.scss */
#fbsection1 .slide-content {
  font-size: 12px;
  padding: 1.5em;
}
/* line 254, ../sass/style.scss */
#fbsection1 .slide-content h1 {
  font-size: 2.5em;
  margin-top: 0;
}
/* line 259, ../sass/style.scss */
#fbsection1 .slide-content p, #fbsection1 .slide-content h2 {
  width: 100%;
}
/* line 262, ../sass/style.scss */
#fbsection1 .slide-content p {
  font-weight: 400;
}

/* line 268, ../sass/style.scss */
#fbsection2 {
  background-image: url(../images/armory-ww1.jpg);
}
/* line 271, ../sass/style.scss */
#fbsection2 .slide-content {
  font-size: 12px;
  font-size: 2em;
  color: black;
}

/* line 278, ../sass/style.scss */
#fbsection3 {
  background-image: url(../images/aerial2.jpg);
}

/* line 282, ../sass/style.scss */
#fbsection4 {
  background-image: url(../images/gymnasium2.jpg);
}

/* line 288, ../sass/style.scss */
.highlight {
  background-color: #80c6bc;
}

/* line 292, ../sass/style.scss */
.highlight-gray {
  background-color: #323232;
}

/* line 296, ../sass/style.scss */
.highlight-iron {
  background-color: #80c6bc;
}

/* line 300, ../sass/style.scss */
.highlight-sandstone {
  background-color: #d7a04f;
}

/* line 1, ../sass/_queries.scss */
.mobile-only {
  display: auto;
}

/* line 5, ../sass/_queries.scss */
.not-mobile {
  display: none;
}

/* line 9, ../sass/_queries.scss */
.mobile-menu {
  display: none;
}

@media screen and (max-height: 800px) {
  /* line 18, ../sass/_queries.scss */
  .container img.elevation {
    bottom: 0em;
    right: 2em;
    width: 100%;
    max-width: 700px;
  }
}
@media screen and (min-width: 48em) {
  /* line 34, ../sass/_queries.scss */
  body {
    font-size: 20px;
  }

  /* line 39, ../sass/_queries.scss */
  #fbsection1 .slide-content {
    font-size: 20px;
  }
}
@media screen and (min-width: 81.25em) {
  /* line 51, ../sass/_queries.scss */
  body {
    font-size: 24px;
  }

  /* line 56, ../sass/_queries.scss */
  .mobile-only {
    display: none;
  }

  /* line 60, ../sass/_queries.scss */
  .not-mobile {
    display: block;
  }

  /* line 65, ../sass/_queries.scss */
  .container .slide-content {
    width: 75%;
    margin-left: 10%;
    position: relative;
    top: 2em;
  }

  /* line 74, ../sass/_queries.scss */
  .cbp-fbscroller section {
    height: 100%;
  }

  /* line 80, ../sass/_queries.scss */
  #fbsection1 .slide-content {
    font-size: .8em;
    width: 60%;
  }
  /* line 84, ../sass/_queries.scss */
  #fbsection1 .slide-content p, #fbsection1 .slide-content h2 {
    width: 75%;
  }

  /* line 90, ../sass/_queries.scss */
  .highlight-mobile-only {
    background-color: transparent;
  }
}
@media screen and (min-width: 81.25em) and (max-width: 90em) {
  /* line 98, ../sass/_queries.scss */
  #fbsection1 .slide-content {
    font-size: .8em;
    width: 60%;
  }
  /* line 102, ../sass/_queries.scss */
  #fbsection1 .slide-content p, #fbsection1 .slide-content h2 {
    width: 75%;
  }
}
