.mobile-only {
	display: auto;
}

.not-mobile {
	display: none;
}

.mobile-menu {
	display: none;
}

@media screen and (max-height: 800px) {

	.container {
		img {

			&.elevation {
				bottom: -1em;
				right: 2em;
				width: 100%;
				max-width: 700px;
			}

		}
	}

}



// Desktop + Laptop
@media screen and (min-width: $desktop-break) {

	$laptop-base-size: 24px;

	body {
		font-size: $laptop-base-size;
	}


	.mobile-only {
		display: none;
	}

	.not-mobile {
		display: block;
	}

	.container {
		.slide-content {
   	 		width: 75%;
    		margin-left: 10%;
    		position: relative;
    		top: 2em;
		}
	}

	.cbp-fbscroller {
		section {
			height: 100%;
		}
	}

	#fbsection1 {
		.slide-content {
			font-size: .8em;
			width: 60%;

			p,h2 {
				width: 75%;
			}
		}
	}

	.highlight-mobile-only {
		background-color: transparent;
	}

}

@media screen and (min-width: $desktop-break) and (max-width: $widescreen-break) {
	#fbsection1 {
		.slide-content {
			font-size: .8em;
			width: 60%;

			p,h2 {
				width: 75%;
			}
		}
	}
}